---
layout: default
title: Guilherme Sinoara
---
<!-- About -->
<section class="section" id="about">
	<!-- Title -->
	<div class="section-heading">
		<h3 class="title is-2">Engenheiro Aeronáutico</h3>
		<div class="container">
			<p>Engenheiro Aeronáutico com mais de 7 anos de experiência na indústria
			aeronáutica, incluindo projeto, certificação e produção.</p>
		</div>
	</div>

	<div class="columns has-same-height is-gapless">

		<div class="column">
			<!-- Skills -->
			<div class="card">
				<div class="card-content skills-content">
					<h3 class="title is-4">Habilidades</h3>
					<div class="content">
						<!-- Skills tags -->
						<div class="tags custom-tags are-light">
							{% for skill in site.data.skills %}
							<span class="tag">{{ skill.name }}</span>
							{% endfor %}
						</div>
					</div>
				</div>
			</div>
		</div>

		<div class="column">
			<!-- Profile picture -->
			<div class="card">
				<div class="card-image">
					<figure class="image is-4by3">
						<img src="img/bob.jpeg" alt="Bob">
					</figure>
				</div>
			</div>
		</div>

		<div class="column">
			<!-- Profile -->
			<div class="card">
				<div class="card-content">
					<h3 class="title is-4">Contato</h3>
					<div class="content">
						<table class="table-profile">
							<tr>
								<th colspan="1"></th>
								<th colspan="2"></th>
							</tr>
							<tr>
								<td><span><i class="fa-solid fa-envelope"></i></span> 
									<span>Email:</span>
								</td>
								<td><a href="mailto:gsinoara@gmail.com">gsinoara@gmail.com</a></td>
							</tr>
							<!--
							<tr>
								<td><span><i class="fa-brands fa-github"></i></span> 
									<span>Github:</span>
								</td>
								<td><a href="https://github.com/sinoara/">github.com/sinoara</a></td>
							</tr>
							-->
							<tr>
								<td><span><i class="fa-brands fa-linkedin"></i></span> 
									<span>Linkedin:</span>
								</td>
								<td><a href="https://www.linkedin.com/in/guilherme-sinoara/">linkedin.com/in/guilherme-sinoara</a></td>
							</tr>
						</table>
					</div>
				</div>
			</div>
		</div>

</section>

<br>

<!-- Portfolio -->
<section class="section" id="projects">
	<div class="section-heading">
		<h3 class="title is-2">Projetos</h3>
	</div>

	<!-- XP5 -->
	{% for project in site.data.projects %}
	<section class="hero is-white">
		<div class="hero-body">
			<div class="container">
				<div class="columns  is-vcentered">
					<div data-aos="fade-left" class="column
												 is-10-mobile is-offset-1-mobile
												 is-10-tablet is-offset-1-tablet
												 is-4-desktop is-offset-1-desktop
												 is-4-widescreen is-offset-1-widescreen
												 is-4-fullhd is-offset-1-fullhd">
						<figure class="image">
							<img src="../img/{{ project.image }}">
							<figcaption style="text-align: center;">
								{{ project.caption }}
							</figcaption>
						</figure>
					</div>
					<div data-aos="fade-down" class="column
												 is-10-mobile is-offset-1-mobile
												 is-10-tablet is-offset-1-tablet
												 is-5-desktop is-offset-1-desktop
												 is-5-widescreen is-offset-1-widescreen
												 is-5-fullhd is-offset-1-fullhd">
						<h3 class="titled title is-3 mb-6">
							{{ project.title }}
						</h3>
						<h4 class="subtitle is-4"> {{ project.company }} </h4>
						<h5 class="subtitled is-5">
							{{ project.subtitle }}
						</h5>
						<a href="{{ project.link }}" class="button is-large is-fullwidth is-link">
								Leia mais
						</a>
					</div>
				</div>
			</div>
		</div>
	</section>
	{% endfor %}

<!-- Resume -->
<section class="section" id="resume">
	<div class="section-heading">
		<h3 class="title is-2">Currículo</h3>
		<a href="https://drive.google.com/file/d/1xelAironBjxO4wdgCLHJPND28r1kXMMk/view" class="button is-link is-medium">
			<span class="icon">
				<i class="fas fa-file-alt"></i>
			</span>
			<span>Download PDF</span>
		</a>
	</div>
</section>

</section>
