---
layout: project
title: Guilherme Sinoara > XP5
project: XP5
images:
- path: img/xp5_fields.png
  caption: Visualização em 3D usando FlightGear
- path: img/qgroundcontrol.jpg
  caption: Teste do sistema de controle em simulação
items:
 - Implementação da mecânica de voo em JSBSim
 - Simulação SITL para guiar projeto e calibração do sistema de controle
---
<section class="hero is-link is-medium">
	<div class="hero-body">
		<p class="title">
			XP5
		</p>
		<p class="subtitle">
			VANT VTOL mais leve que o ar
		</p>
	</div>
</section>

<section>
	<div class="section-heading">
		<h1 class="title is-3">
			Simulação
		</h1>
		<div class="container">
			<p>Implementação de SITL da aeronave utilizando Ardupilot, JSBSim e FlightGear</p>
		</div>
	</div>

	<div class="columns is-multiline">
		{% for image in page.images %}
		<div class="column is-one-quarter-desktop is-half-tablet">
			<div class="card">
				<div class="card-image">
					<figure class="image is-3by2">
						<img style="object-fit:scale-down;" src={{ image.path }} alt="">
					</figure>
					<div class="card-content is-overlay is-clipped">
						<span class="tag is-info"> {{ image.caption }} </span>
					</div>
				</div>
				<footer class="card-footer">
				</footer>
			</div>
		</div>
		{% endfor %}
	</div>

	<div class="content">
		<ul>
			{% for item in page.items %}
			<li>{{ item }}</li>
			{% endfor %}
		</ul>
	</div>
</section>

<section>
</section>
