<section class="section" id="about">
	<!-- Title -->
	<div class="section-heading">
		<h3 class="title is-2">MBA em IA/Engenheiro Aeronáutico</h3>
		<div class="container">
			<p>Engenheiro Aeronáutico com mais de 7 anos de experiência na indústria
			aeronáutica, incluindo projeto, certificação e produção.</p>
		</div>
	</div>

	<div class="columns has-same-height is-gapless">

		<div class="column">
			<!-- Skills -->
			{% include skills.html %}
		</div>

		<div class="column is-one-quarter">
			<!-- Profile picture -->
			{% include profile_pic.html %}
		</div>

		<div class="column">
			<!-- Profile -->
			{% include contact.html %}
		</div>

</section>
