<div class="card">
	<div class="card-content">
		<h3 class="title is-4">Contato</h3>
		<div class="content">
			<table class="table-profile">
				<tr>
					<th colspan="1"></th>
					<th colspan="2"></th>
				</tr>
				<tr>
					<td><span><i class="fa-solid fa-envelope"></i></span> 
						<span>Email:</span>
					</td>
					<td><a href="mailto:gsinoara@gmail.com">gsinoara@gmail.com</a></td>
				</tr>
				<tr>
					<td><span><i class="fa-brands fa-github"></i></span> 
						<span>Github:</span>
					</td>
					<td><a href="https://github.com/sinoara/">github.com/sinoara</a></td>
				</tr>
				<tr>
					<td><span><i class="fa-brands fa-linkedin"></i></span> 
						<span>Linkedin:</span>
					</td>
					<td><a href="https://www.linkedin.com/in/guilherme-sinoara/">linkedin.com/in/guilherme-sinoara</a></td>
				</tr>
			</table>
		</div>
	</div>
</div>
