<nav class="navbar is-link is-fixed-top">
	<div class="navbar-brand">
		<a href="/" class="level-item has-text-white has-text-weight-bold is-size-4" style="padding-left: 10px">
			{{ page.title }}
		</a>
		<div class="navbar-burger burger" data-target="navbarExampleTransparentExample">
			<span></span>
			<span></span>
			<span></span>
		</div>
	</div>

	<div id="navbarExampleTransparentExample" class="navbar-menu">
		<div class="navbar-end">
			<a class="navbar-item" href="#about">
				<span class="icon">
					<i class="fas fa-info"></i>
				</span>
				<span>Sobre</span>
			</a>
			<a class="navbar-item" href="https://drive.google.com/file/d/1xelAironBjxO4wdgCLHJPND28r1kXMMk/view">
				<span class="icon">
					<i class="fas fa-file-download"></i>
				</span>
				<span>Currículo</span>
			</a>
			<a class="navbar-item" href="#projects">
				<span class="icon">
					<i class="fas fa-th-list"></i>
				</span>
				<span>Projetos</span>
			</a>

		</div>
	</div>
</nav>
