<nav class="navbar is-link is-fixed-top">
	<div class="navbar-brand">
		<p class="level-item" id="name" style="font-size: 20px; font-weight: bold; padding-left: 10px">
			{{ page.title }}
		</p>
		<div class="navbar-burger burger" data-target="navbarExampleTransparentExample">
			<span></span>
			<span></span>
			<span></span>
		</div>
	</div>

	<div id="navbarExampleTransparentExample" class="navbar-menu">
		<div class="navbar-end">
			<a class="navbar-item" href="#about">
				<span class="icon">
					<i class="fas fa-info"></i>
				</span>
				<span>Sobre</span>
			</a>
			<a class="navbar-item" href="#resume">
				<span class="icon">
					<i class="fas fa-file-alt"></i>
				</span>
				<span>Currículo</span>
			</a>
			<a class="navbar-item" href="#portfolio">
				<span class="icon">
					<i class="fas fa-th-list"></i>
				</span>
				<span>Portfólio</span>
			</a>
		</div>
	</div>
</nav>
