<section class="section" id="resume">
	<div class="section-heading">
		<h3 class="title is-2">Currículo</h3>
		<div class="columns is-centered">
			<div class="column is-half">
				<div class="timeline">
					<div class="timeline-item">
						<div class="timeline-marker is-icon">
							<i class="fa fa-flag"></i>
						</div>
						<div class="timeline-content">
							<p class="heading">Novembro 2020</p>
							<p>Control Systems Architect - Elemental Future GmbH</p>
						</div>
					</div>
					<!-- 2020 -->
					<header class="timeline-header">
						<span class="tag is-medium is-link">2020</span>
					</header>
					<!-- Engenheiro -->
					<div class="timeline-item">
						<div class="timeline-marker is-icon">
							<i class="fa fa-flag"></i>
						</div>
						<div class="timeline-content">
							<p class="heading">Março 2015</p>
							<p>Engenheiro Aeronáutico - Airship do Brasil</p>
						</div>
					</div>
					<!-- 2015 -->
					<header class="timeline-header">
						<span class="tag is-medium is-link">2015</span>
					</header>
					<!-- Aux. Técnico -->
					<div class="timeline-item">
						<div class="timeline-marker is-image is-32x32">
							<img src="https://bulma.io/images/placeholders/32x32.png">
						</div>
						<div class="timeline-content">
							<p class="heading">Julho de 2014</p>
							<p>Auxiliar Técnico - Airship do Brasil</p>
						</div>
					</div>
					<!-- Estágio -->
					<div class="timeline-item">
						<div class="timeline-marker"></div>
						<div class="timeline-content">
							<p class="heading">Janeiro de 2014</p>
							<p>Estagiário - Airship do Brasil</p>
						</div>
					</div>
					<!-- 2014 -->
					<div class="timeline-header">
						<span class="tag is-medium is-link">2014</span>
					</div>
				</div>
			</div>
		</div>
		<a href="https://drive.google.com/file/d/1xelAironBjxO4wdgCLHJPND28r1kXMMk/view" class="button is-link is-medium">
			<span class="icon">
				<i class="fas fa-file-alt"></i>
			</span>
			<span>Download PDF</span>
		</a>
	</div>
</section>
