<!DOCTYPE html>
<html lang="pt">
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<meta http-equiv="X-UA-Compatible" content="ie=edge">
		<title>{{ page.title }}</title>
		<link href=" https://cdn.jsdelivr.net/npm/material-icons@1.13.14/iconfont/material-icons.min.css " rel="stylesheet">
		<link rel="stylesheet" type="text/css" href="css/personal.css">
		<link rel="stylesheet" type="text/css" href="css/custom.css">
		<script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vuetify@4.0.7/dist/vuetify.min.js"></script>
	</head>

	<body>
		<!-- Navigation bar -->
		{% include navigation.html %}

		{{ content }}

		<!-- Footer -->
		{% include footer.html %}
	</body>

</html>
