---
layout: default
---
<section class="hero is-link is-medium">
	<div class="hero-body">
		<p class="title">
		{{ page.project }}
		</p>
		<p class="subtitle">
		{{ page.subtitle }}
		</p>
	</div>
</section>

{% for section in page.sections %}
<section>
	<div class="section-heading">
		<h1 class="title is-3">
			<p> {{ section.title }} </p>
		</h1>
		<div class="container">
			<p> {{ section.subtitle }} </p>
		</div>
	</div>

	{% if section.images %}
	<div class="columns is-multiline is-centered">
		{% for image in section.images %}
		<div class="column is-one-quarter-desktop is-half-tablet">
			<div class="card">
				<div class="card-image">
					<figure class="image is-3by2">
						<img style="object-fit:scale-down;" src={{ image.path }} alt="">
					</figure>
					<div class="card-content is-overlay is-clipped">
						<span class="tag is-info"> {{ image.caption }} </span>
					</div>
				</div>
				<footer class="card-footer">
				</footer>
			</div>
		</div>
		{% endfor %}
	</div>
	{% endif %}

	<div class="columns is-centered">
		<div class="column is-half">
			<div class="content">
				<ul>
					{% for item in section.items %}
					<li>{{ item }}</li>
					{% endfor %}
				</ul>
			</div>
		</div>
	</div>
</section>
{% endfor %}
{{ content }}
